/PaymentCenter.Api/obj
/PaymentCenter.Api/bin
/PaymentCenter.Console/obj
/PaymentCenter.Console/bin
/PaymentCenter.Infrastructure/bin
/PaymentCenter.Infrastructure/obj
/PaymentCenter.Management/bin
/PaymentCenter.Management/obj
/.vs
/PaymentCenter.PaymentCore/bin
/PaymentCenter.PaymentCore/obj
