@{ 
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>代购登陆界面</title>

    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/login.css" />

    <style>
        html, body {
            width: 100%;
        }
    </style>

</head>
<body>

    <div class="main">

        <div class="center">
            <form action="" id="formOne" method="post" onsubmit="return submitB()">
                <i class="fa fa-user Cone">  | </i>
                <input type="text" name="uer" id="user" placeholder="用户名" onblur="checkUser()" />
                <span id="user_pass"></span>
                <br />
                <i class="fa fa-key Cone">  | </i>
                <input type="password" name="pwd" id="pwd" placeholder="密码" onblur="checkUser1()" />
                <span id="pwd_pass"></span>
                <br />
                <i class="fa fa-folder-open Cone">  | </i>
                @*<input type="text" name="surePwd" id="surePwd" placeholder="验证码" onblur="checkUser2()" />
                <img id="imgVerify" src="/Home/ValidateCode" alt="看不清？点击更换" onclick="this.src ='/Home/ValidateCode?time=' + (new Date()).getTime()" style="vertical-align:middle;" />
                <span id="surePwd_pass"></span><br />*@
                <input type="submit" value="登  录" id="submit" name="submit">
                <br />
            </form>
        </div>

    </div>


    <script type="text/javascript" src="/js/login.js"></script>

</body>
</html>
